@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main class="bg-main-color">
        <div class="top-row bg-main-color bg-transparent">
            <a href="/" target="_blank">Open New</a>
        </div>

        <article class="content px-4 center-three-quarter-width-lg">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
